@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-primary: #3b82f6;
  --color-danger: #ef4444;

  --animate-float: float 6s ease-in-out infinite;
  --animate-glow: glow 2s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -5px var(--color-primary);
  }
  to {
    box-shadow: 0 0 25px 5px var(--color-primary);
  }
}

body {
  background-color: var(--color-background);
  color: #fff;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
